.control {
    height:48px;
    width:48px;
    vertical-align:middle
}

.gamepad-table-wrapper {
    border: 10px solid red;
}


:root {
    --md-primary-fg-color:        #5654df;
    --md-primary-fg-color--light: #4960ca;
    --md-primary-fg-color--dark:  #060569;
  }